@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500;600&display=swap');


*{
    padding: none;
    margin: none;
    width: none;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #f2f2f2;
    width: auto ;

}

.nganu{
    background-color: #e0c48f;
}

.cari{
    padding-top: 0px;
    padding-left: 500px;
}

form{
    padding-left: 900px;
}

li a img{
    list-style: none;
}

.dropdown{
    list-style:none;
}

.halaman1{
    width: 2000px;
    padding: 50px;
    background-color: #fff;
    border-radius: 4%;
    box-sizing: border-box 0,25rem;
    display: block;
}

.bacground{
    
}

.text{
    max-width: 500px;
    position: absolute;
}

.text p{
    font-size: 12px;
    padding-top: 60px;
}

img.kanan {
    border-radius: 5%;
    width: 300px;
    height: 200px;
    padding: 0px;
    float: right;
    margin: 5px;
}

.product{
    padding-top: 20px;
}

.cart img{
    width: 300px;
    height: 200px;
}